@using Models;
@using ModelsDTO.DTO.MainPageControllerDTO;
@using Models.Enums
@model MainPageDTO


<head>
    <link rel="stylesheet" href="~/css/MainPage/Index.css" />
</head>

<br>


<div class=" d-flex justify-content-">

    
    <div class="">

    </div>

    <div class="Page-content">
        @if (Model.conta is null){
            <p>...</p>
            <h1>nada aq nao chefia</h1>
        }
        else if(Model.conta.Role == Roles.Administrator)
        {
            <a class="text-white" asp-area="User" asp-controller="MainPage" asp-action="Insert" asp-route-id="@Model.produto.FirstOrDefault().Id"> <button class="btn btn-primary ">Adicionar um produto </button></a>
            <br><br>
            <h1><strong>Olá @Model.conta.Name</strong></h1>
        }
        else
        {
            <h1>Olá @Model.conta.Name</h1>
        }
        <br>
        <br>
        

        <div class="container ListaDeProdutos p-4"> 
            @foreach (var prod in Model.produto)
            {
                if(Model.conta != null)
                {
                    <div class="produto p-2 ">
                        <a asp-area="User" asp-controller="MainPage" asp-action="Details" asp-route-id="@prod.Id">
                            <div class="imagem col-6"></div>
                            <br>
                            <div class="col-6">
                                <div class="row">
                                    <p>@prod.Name</p>
                                </div>

                                <div class="row ">
                                    <p>R$ @prod.Price</p>
                                </div>

                            </div>

                        </a>
                    </div>
                }
            }

        </div>

    </div>


</div>