@using Models;
@using ModelsDTO.DTO.MainPageControllerDTO;
@model InsertDTO

<head>

</head>



<body>

	
	
	<br>
	<br>

	<h1>Criando um Produto</h1>

	<form method="post" >

		<div class="row">
			<label asp-for="@Model.produto.Name" class="p-0">Name</label>
			<input asp-for="@Model.produto.Name" class="form-control">
			<span asp-validation-for="@Model.produto.Name" class="text-danger"></span>
		</div>
		<br>

		<div class="row">
			<label asp-for="@Model.produto.Descricao" class="p-0">Descrição</label>
			<input asp-for="@Model.produto.Descricao" class="form-control">
			<span asp-validation-for="@Model.produto.Descricao" class="text-danger"></span>
		</div>
		<br>

		<div class="row">
			<label asp-for="@Model.produto.Price" class="p-0">Price</label>
			<input asp-for="@Model.produto.Price" class="form-control">
			<span asp-validation-for="@Model.produto.Price" class="text-danger"></span>
		</div>
		<br>
		

		<div class="row">
			<label asp-for="@Model.produto.CategoriaId" class="p-0">CategoriaId</label>
			<select asp-for="@Model.produto.CategoriaId" asp-items="ViewBag.Categories">
				<option disabled-selected>Choose your category</option>
			</select>
			
			<span asp-validation-for="@Model.produto.CategoriaId" class="text-danger"></span>
		</div>
		

		<br>
		<br>

		<button class="btn btn-primary" asp-area="User" asp-controller="MainPage" asp-action="Insert">Adicionar</button>

	</form>

	<br>
	<br>
</body>